body {
    background-image:url("images/Backgrounds/footer_lodyas.png");
    background-repeat:repeat;

}

header {
    color:white;
}

.footer {
    color:#705d5d;
    background-color:#705d5d;
}

.headshot {
    height:205px;
    width:200px;
}

a{
    color:white;
    text-decoration:none;
}



.link{
    height:50px;
    width:50px;
}

.NYC {
    height:225px;
}

.Chicago {
    height:225px;
}

.MN {
    height:225px;
}

.Seattle {
    height:225px;
}

.KC {
    height:225px;
}

.container-porfolio {
    background-color:white;
    background: white;
}